<nav class="navbar navbar-expand-lg wes-navbar fixed-top">
  <div class="layout-container">

    <a class="navbar-brand" routerLink="/" [attr.aria-label]="'nav.brandAria' | translate" (click)="closeMenu()">
      <img
        src="/wes-logo-primary.png"
        alt="WES Logo"
        class="wes-logo"
      />
    </a>

    <button
      class="navbar-toggler border-0 shadow-none"
      type="button"
      aria-controls="wesNavbar"
      [attr.aria-expanded]="isMenuOpen"
      aria-label="Toggle navigation"
      (click)="toggleMenu()"
    >
      <span class="navbar-toggler-line"></span>
      <span class="navbar-toggler-line"></span>
      <span class="navbar-toggler-line"></span>
    </button>

    <div class="collapse navbar-collapse" [class.show]="isMenuOpen" id="wesNavbar">
      <ul class="navbar-nav wes-nav-list align-items-lg-center">
        @for (item of navItems; track item.key) {
          <li class="nav-item">
            @if (isPageEnabled(item.key)) {
              <a
                class="nav-link"
                [routerLink]="item.route"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: item.exact ?? false }"
                (click)="closeMenu()"
              >
                {{ item.labelKey | translate }}
              </a>
            } @else {
              <span class="nav-link nav-link--disabled" aria-disabled="true">{{ item.labelKey | translate }}</span>
            }
          </li>
        }
        @if (isSupportArabic) {
          <li class="nav-item nav-item--language mt-3 mt-lg-0">
            <button type="button" class="btn btn-language" (click)="toggleLanguage()">
              <i class="bi bi-globe2 lang-icon"></i>
              {{ (isArabic ? 'nav.languageEnglish' : 'nav.languageArabic') | translate }}
            </button>
          </li>
        }
      </ul>
    </div>

  </div>
</nav>
