<nav class="navbar navbar-expand-lg wes-navbar fixed-top">
  <div class="container">

    <a class="navbar-brand" routerLink="/">
      <img
        src="/wes-logo-primary.png"
        alt="WES Logo"
        class="wes-logo"
      />
    </a>

    <button
      class="navbar-toggler border-0 shadow-none"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#wesNavbar"
      aria-controls="wesNavbar"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="wesNavbar">
      <ul class="navbar-nav ms-auto align-items-lg-center gap-lg-2">
        <li class="nav-item">
          <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about" routerLinkActive="active">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/partners" routerLinkActive="active">Our Partners</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/solutions" routerLinkActive="active">Solutions</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/services" routerLinkActive="active">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact" routerLinkActive="active">Contact Us</a>
        </li>
        <li class="nav-item mt-3 mt-lg-0 ms-lg-2">
          <a href="#" class="btn btn-language">
              <i class="bi bi-globe2 lang-icon"></i>
            العربية
          </a>
        </li>
      </ul>
    </div>

  </div>
</nav>
